@model MainCategoryVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main-area -->
<main>
    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(../../assets/img/testimonial/test-bg.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>Course Detail</h2>
                            <div class="breadcrumb-wrap">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Course</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- service-details-area -->
    <section id="about" class="about-area about-p pt-120 pb-95 p-relative">
        <div class="container">
            <div class="row">
                <!-- #right side -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <aside class="sidebar-widget">
                        <section id="categories-1" class="widget widget_categories">
                            <h2 class="widget-title">Our Lessons</h2>
                            <ul>
                                @foreach (var item in Model.Courses)
                                {
                                    if (item.CourseVideos.Count() > 0)
                                    {
                                        <li>
                                            <a asp-controller="Course"
                                               asp-action="Detail"
                                               asp-route-id="@item.Id">
                                                <span>@item.AppUser.FullName</span>  --  @item.Name
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </section>
                    </aside>
                </div>
                <!-- #right side end -->
                <div class="col-lg-8 col-md-12 col-sm-12 order-2">
                    <div class="service-detail">
                        <div class="video-img wow fadeInRight animated" data-animation="fadeInDown animated"
                             data-delay=".2s"
                             style="background-image:url(../../assets/img/category/@Model.MainCategory.PhotoUrl); height: 395px; background-repeat: no-repeat; background-position: center;">
                            <a href="@Model.MainCategory.VideoUrl" class="video-i popup-video">
                                <img src="~/assets/img/video/play.svg" alt="img" class="active-icon">
                            </a>
                        </div>

                        <div class="content-box">
                            <h2>@Model.MainCategory.Name</h2>
                            <p>
                                @Model.MainCategory.LongDesc
                            </p>
                            <h3>Why Choose This Course</h3>
                            <p>
                                @Model.MainCategory.WhyChooseCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-details-area-end -->
    <!-- testimonial-area -->
    <section class="testimonial-area pt-120 pb-120"
             style=" background-image: url(img/testimonial/test-bg-aliments.png); background-repeat: no-repeat; background-position: center; background-color: #fff7f5;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-title second-atitle pt-15">
                        <h5>Testimonial</h5>
                        <h2>
                            See What Our <br>Client Say’s
                        </h2>
                        <p class="pt-15">
                            Curabitur tristique, sem id sagittis varius, lacus ligula mollis dui, ac
                            condimentum felis metus ut nulla. Aenean ut ultricies turpis, sed sollicitudin eros.
                            Aliquam quis dui ut diam lobortis dignissim ut aliquet ex.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-active">
                        @foreach (var item in Model.Testimonials)
                        {
                            <div class="single-testimonial">
                                <div class="testi-author">
                                    <img src="~/assets/img/testimonial/@item.Image" alt="img">
                                    <div class="ta-info">
                                        <h6>@item.FullName</h6>
                                        <span>@item.Position</span>
                                    </div>
                                </div>
                                <div class="qt-img">
                                    <img src="~/assets/img/testimonial/qt-icon.png" alt="img">
                                </div>
                                <p>@item.Description</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->
</main>
<!-- main-area-end -->