
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int Count = 0;
}

@*<input type="hidden" id="hidden" value="postjob" />*@
<div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Feature
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody style="cursor:pointer">
                        @foreach (var item in Model)
                        {
                            Count++;
                            <tr>
                                <td>
                                    @Count
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                @if (item.IsFeatured)
                                {
                                    <td style="color:lawngreen">
                                        Active
                                    </td>
                                }
                                else
                                {
                                    <td style="color:red">
                                        Disable
                                    </td>
                                }
                                @if (item.IsVerified)
                                {
                                    <td style="color:lawngreen">
                                        Active
                                    </td>
                                }
                                else
                                {
                                    <td style="color:red">
                                        Disable
                                    </td>
                                }
                                <td>
                                    @if (item.IsFeatured)
                                    {
                                        <a asp-action="ActiveFeature" asp-route-id="@item.Id" class="btn btn-danger">
                                            <i class="mdi mdi-account-off"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="DeactiveFeature" asp-route-id="@item.Id" class="btn btn-primary">
                                            <i class="mdi mdi-account-check"></i>
                                        </a>
                                    }

                                    <a asp-action="Detail" asp-route-id="@item.Id" target="_blank" class="btn btn-primary">
                                        <i class="mdi mdi-account-card-details"></i>
                                    </a>


                                    @if (item.IsVerified)
                                    {
                                        <a asp-action="Active" asp-route-id="@item.Id" class="btn btn-danger">
                                            <i class="mdi mdi-account-off"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Deactive" asp-route-id="@item.Id" class="btn btn-success">
                                            <i class="mdi mdi-account-check"></i>
                                        </a>
                                    }

                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (ViewBag.Page == i)
                            {
                                <li class="page-item disabled"><a class="page-link" href="#">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" asp-controller="Joblist" asp-action="Index" asp-route-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
