@model BlogVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main-area -->
<main>
    <!-- search-popup -->
    <input type="hidden" id="hidden" value="blog" />
    <div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content search-popup">
                <div class="text-center">
                    <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
                </div>
                <div class="row search-outer">
                    <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
                    <div class="col-md-1 text-right">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /search-popup -->
    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center"
             style="background-image:url(../../assets/img/testimonial/test-bg.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>Blog</h2>
                            <div class="breadcrumb-wrap">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- inner-blog -->
    <section class="inner-blog pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    @foreach (var item in Model.Blogs.OrderByDescending(x => x.Id))
                    {
                        <div class="bsingle__post mb-50">
                            <div class="bsingle__post-thumb">
                                <img src="~/assets/img/blog/@item.Image" alt="">
                            </div>
                            <div class="bsingle__content">
                                <div class="admin">
                                    <a><i class="far fa-user"></i> by @item.AuthorName</a>
                                </div>
                                <h2>
                                    <a asp-action="Detail" asp-route-id="@item.Id">
                                        @item.Title
                                    </a>
                                </h2>
                                <p>
                                    @item.ShortDesc
                                </p>
                                <div class="meta-info">
                                    <ul>
                                        @*<li><i class="fal fa-eye"></i> 100 Views </li>
                                            <li><i class="fal fa-comments"></i> 35 Comments</li>*@
                                        <li><i class="fal fa-calendar-alt"></i>@item.Date.ToString("dd MMMM, yyyy")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- #right side -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <aside class="sidebar-widget">
                        <section id="custom_html-5" class="widget_text widget widget_custom_html">
                            <h2 class="widget-title">Follow Us</h2>
                            <div class="textwidget custom-html-widget">
                                <div class="widget-social">
                                    <a href="@Model.Bio.Twitter"><i class="fab fa-twitter"></i></a>
                                    <a href="@Model.Bio.Pinterst"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="@Model.Bio.Facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="@Model.Bio.Instagram"><i class="fab fa-instagram"></i></a>
                                    <a href="@Model.Bio.WordPress"><i class="fab fa-wordpress"></i></a>
                                </div>
                            </div>
                        </section>
                        <section id="categories-1" class="widget widget_categories">
                            <h2 class="widget-title">Categories</h2>
                            <ul>
                                @foreach (var item in ViewBag.MainCategories)
                                {
                                    <li class="cat-item cat-item-16">
                                        <a asp-controller="MainCategory"
                                           asp-action="Detail"
                                           asp-route-id="@item.Id">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </section>
                        <section id="recent-posts-4" class="widget widget_recent_entries">
                            <h2 class="widget-title">Recent Posts</h2>
                            <ul>
                                @foreach (var item in Model.Blogs.OrderByDescending(x => x.Id))
                                {
                                    <li>
                                        <a asp-action="Detail" asp-route-id="@item.Id">@item.Title
                                            <span class="post-date">@item.Date.ToString("MMMM dd yyyy")</span>
                                        </a>
                                        
                                    </li>
                                }
                            </ul>
                        </section>
                        <section id="tag_cloud-1" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Tag</h2>
                            <div class="tagcloud">
                                <a class="tag-cloud-link tag-link-28 tag-link-position-1"
                                   style="font-size: 8pt;" aria-label="app (1 item)">app</a>
                                <a class="tag-cloud-link tag-link-17 tag-link-position-2"
                                   style="font-size: 8pt;" aria-label="Branding (1 item)">Branding</a>
                                <a class="tag-cloud-link tag-link-24 tag-link-position-4"
                                   style="font-size: 16.4pt;" aria-label="Design (2 items)">Design</a>
                                <a class="tag-cloud-link tag-link-29 tag-link-position-7"
                                   style="font-size: 16.4pt;" aria-label="web design (2 items)">web design</a>
                                <a class="tag-cloud-link tag-link-29 tag-link-position-7"
                                   style="font-size: 16.4pt;" aria-label="web design (2 items)">Programing</a>
                            </div>
                        </section>
                    </aside>
                </div>
                <!-- #right side end -->

            </div>
        </div>
    </section>
    <!-- inner-blog-end -->



</main>
<!-- main-area-end -->
@section Scripts{

    <script src="~/assets/js/search.js"></script>
} 