@*@model VideoVM*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-area -->
<section class="breadcrumb-area d-flex align-items-center"
         style="background-image:url(../../assets/img/testimonial/test-bg.png)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="breadcrumb-wrap text-left">
                    <div class="breadcrumb-title">
                        <h2>All Videos</h2>
                        <div class="breadcrumb-wrap">

                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a asp-controller="home" asp-action="Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">All Videos</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- main-area -->
<section class="video mt-5 pt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="about-title text-center second-atitle pb-20">
                    <h5>Lessons</h5>
                    <h2>
                        @Model.Course.Name
                    </h2>
                    <h3 id="timer" style="background-color:#9CCA46;color:white;border-radius:20px;width:200px">
                    </h3>
                    <input type="hidden" id="courseId" name="d" value="@Model.Course.Id" />
                </div>
            </div>
        </div>
        <div class="row">
            <div style="cursor:pointer;" class="col-xl-8" id="parentVideo">

                <video id="video" class="w-100" controlsList="nodownload" controls data-id="@Model.CourseVideo.Id">
                    <source data-id="@Model.CourseVideo.Duration" id="sourceVideo" src="@Model.CourseVideo.AwsVideoUrl" type="video/ogg">
                </video>
            </div>
            <div class="col-xl-4 mt-3">
                <h5 class="course-video-title">Kurs İçeriği </h5>
                <ul class="co1urse-video-link">
                    @foreach (var item in Model.CourseVideos)
                    {
                        <li data-id="@item.Id" class="d-flex justify-content-between video-list-li" style="cursor:pointer;">
                            <span>
                                @item.Title
                            </span>
                            <span class="video-duration">
                                @item.Duration
                            </span>
                        </li>
                    }
                </ul>
               
                <a class="btn ss-btn" asp-controller="WatchedVideos" asp-action="Index" asp-route-id="@Model.Course.Id">Watched Videos</a>
               

            </div>
        </div>
    </div>
</section>


<!-- services-area -->
<section id="services" class="services-area pt-120 pb-120 fix"
         style=" background-image: url(../../assets/img/bg/services-bg-aliments.png); background-repeat: no-repeat; background-position: center;">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="about-title text-center second-atitle pb-20">
                    <h5>Services</h5>
                    <h2>
                        What We Provide To You
                    </h2>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model.MainCategories)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="services-box wow fadeInDown  animated" data-delay=".5s">
                            <div class="services-icon">
                                <img src="~/assets/img/category/@item.PhotoUrl" alt="icon01">
                            </div>
                            <div class="services-content2">
                                <h5><a asp-controller="MainCategory" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a> </h5>
                                <p>@item.ShortDesc</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- services-area-end -->
<!-- main-area-end -->
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        let video = document.getElementById("video");
        let previousVideo = document.getElementById("previousVideo");
        video.addEventListener('ended', () => {
            let dataId = parseInt(video.getAttribute("data-id"));
           // formData.append("Id", dataId);
            let courseId= document.getElementById("courseId").value;
            //alert(dataId)
            $.ajax({
                url:  `/Video/GetVideoById?Id=${dataId}&CourseId=${courseId}`,
                type: "Get",
                success: function (res) {
                    $("#parentVideo").empty();
                    $("#parentVideo").append(res);

                }
            })
        });

        //previousVideo.addEventListener('click', () => {
        //    let dataId = parseInt(video.getAttribute("data-id"));
        //    console.log(dataId);
        //    // formData.append("Id", dataId);
        //    let courseId = document.getElementById("courseId").value;
        //    //alert(dataId)
        //    $.ajax({
        //        url: `/Video/GetPreviousVideo?Id=${dataId}&CourseId=${courseId}`,
        //        type: "Get",
        //        success: function (res) {
        //            $("#parentVideo").empty();
        //            $("#parentVideo").append(res);

        //        }
        //    })
        //});
    </script>
}