@model OurEvent
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <img src="~/assets/img/event/@Model.Image" width="400" height="200" />
</div>
<div class="row mt-5">
    <div class="col-2">
        <h6>Title</h6>
    </div>
    <div class="col-4">
        <p> @Model.Title</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>StartTime</h6>
    </div>
    <div class="col-4">
        <p> @Model.StartTime.ToString("MMMM")</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>EndTime</h6>
    </div>
    <div class="col-4">
        <p> @Model.EndTime.ToString("dd")</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>StartDate</h6>
    </div>
    <div class="col-4">
        <p> @Model.StartDate.ToString("hh:mm tt")</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>ShortDescription</h6>
    </div>
    <div class="col-4">
        <p> @Model.ShortDesc</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>LongDescription</h6>
    </div>
    <div class="col-4">
        <p> @Model.LongDesc</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <h6>Category</h6>
    </div>
    <div class="col-4">
        <p> @Model.MainCategory.Name</p>
    </div>
</div>
<div class="row mt-3">
    <a class="btn btn-dark" asp-action="Index">Go Back</a>
</div>